img.recipe-img {
  max-width: 250px;
}

tr:hover {
  background-color: pink;
  cursor: pointer;
}

thead {
  background-color: palevioletred;
}

img {
 height: 50%;
 width: auto;
 max-width: 400px;
}

.prin{
  background-color: pink;
}